<!doctype html>
<html lang="ro"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<body class="www_maimultdecatovacanta_ro home pc"></body>
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="author" content="Q Travel Cloud by Acqua Ltd">-->
<!--    <title>Agentia ta de turism - Mai mult decat o vacanta</title>-->
<!--    <link rel="canonical" href="http://localhost:8081/">-->
<!--    <meta property="og:descroption" content="Designerul tau de calatorii">-->
<!--    <meta property="og:image" content="/resources/quick-sell-vacantede10/2020/0525/logo_4.png">-->
<!--    <meta property="og:url" content="http://localhost:8081/">-->
<!--    <meta property="og:type" content="website">-->
<!--    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext">-->
<!--    &lt;!&ndash; Work Sans &ndash;&gt;-->
<!--    &lt;!&ndash; FRAMEWORKS CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/css/frmwk-bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/assets/css/frmwk-font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="/assets/css/frmwk-jquery-ui-1.12.1.min.css">-->
<!--    &lt;!&ndash; PLUGINS CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-prettyPhoto.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-magnific-popup.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-photoswipe.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-photoswipe-default-skin.css">-->
<!--    <link rel="stylesheet" href="/assets/css/aqua-sequence.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-jquery.cookiebar.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-select2.min.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-ion.rangeSlider.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-ion.rangeSlider.skinModern.css">-->
<!--    <link rel="stylesheet" href="/assets/css/plugin-slick.css">-->
<!--    <link rel="stylesheet" href="/assets/css/jquery-confirm.min.css">-->

<!--    <link rel="stylesheet" href="/assets/css/acqua-section-flight-details.css">-->

<!--    &lt;!&ndash; insurance &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/css/acqua-section-insurance.css">-->


    <div class="container">
        ::before
        <div class="navbar-header">
            ::before
            <button type="button" class="navbar-toggle collapsed" data-toggle="colapse" data-targhet="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggle-title">MENIU</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
            ::after
        </div>
        <div class="collapse navbar-collapse clearfix" id="main-menu">
            ::before
            <ul class="nav navbar-nav main-menu">
                ::before
                <li class="dropdown">
                    <a href class="dropdown-toggle no-dropdown-toggle-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="text">Cazare Romania</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/cazare-la-munte/">
                                <span class="dd-text">Cazare la munte</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cazare-la-mare">
                                <span class="dd-text">Cazare hotel mare</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href>
                        <span class="text">Pachete avion</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="/city-break/">
                        <span class="text">City Break</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                ::after
            </ul>
            <ul class="nav navbar-nav top-navbar">
                ::before
                <li>
                    <a href="/contact">
                        <span class="text">Contact</span>
                    </a>
                </li>
                <li>
                    <a href="tel:0749686686">
                        <span class="text">
                            <i class="fa fa-phone" style="font-size: 16px">
                                ::before
                            </i>
                            " 0749686686"
                        </span>
                    </a>
                </li>
                <li>
                    <a href="mailto:office@maimultdecatovacanta.ro">
                        <span class="text">
                            <i class="fa fa-envelope" aria-hidden="true">
                                ::before
                            </i>
                            " office@maimultdecatovacanta.ro"
                        </span>
                    </a>
                </li>
                <li class="dropdown currency-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        " EUR "
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="display: none";>
                        <li>
                            <a href="/home/change_currency/EUR">
                                <strong>EUR</strong>
                                " EUR "
                            </a>
                        </li>
                        <li>
                            <a href="/home/change_currency/RON">
                                <strong>RON</strong>
                                " RON "
                            </a>
                        </li>
                    </ul>
                </li>
           </ul>
            ::after
        </div>
    </div>
</body>








</head>

</html>