<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Q Travel Cloud by Acqua Ltd">
    <title>Agentie de turism - Mai mult decat o vacanta</title>

</head>
<body>
<div th:fragment="navbar">
            <header class="p-3 bg-danger text-white">
                <div class="container">
                    <nav class="navbar navbar-expand-sm navbar-light bg light">
                        <div class="q-toolbar-title items-center">
                            <a href="/" class="ct-home-link">
                                <img src="https://www.nicepng.com/png/detail/319-3199678_terms-conditions-cielito-lindo-travel-agency-llc-travel.png" height="70"  width="70">
                            </a>
                        </div>
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                                    <use xlink:href="#bootstrap"></use>
                                </svg>
                            </a>
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content=center mb-md-0">
                                <li>
                                    <a href="#" class="nav-link px-4 text-white">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4  font-size: 14 px text-white">Cazare Romania</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4 text-white">Pachete</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4 text-white">City Break</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4
                                     text-white">Promotii</a>
                                </li>
                            </ul>
                            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                            </form>
                            <div class="text-end">
                                <button type="button" class="btn btn-outline-light me-2 btn-align: right">Login</button>
                                <button type="button" class="btn btn-warning btn-align: right">Sign-up</button>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
</div>
</body>

</html>