<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit continent</title>
</head>
<body>
<div align="center">
    <h1>Edit continent</h1>

    <div>
        <form method="post" th:action="@{/continent/{id}/edit(id=${continent.id})}" th:object="${continent}">

            <div>
                <label for="name">Name</label>
                <input id="name" th:field="*{name}" type="text">
                <span th:if="${#fields.hasErrors('name')}" th:error="*{name}" class="text-danger"></span>
            </div>

            <div>
                <a th:href="@{/continent}">
                    <button class="btn btn-secondary" id="cancel" name="cancel" type="button">Cancel</button>
                </a>
                <button class="btn btn-primary" id="save" name="save" type="submit">Update</button>
            </div>
        </form>
    </div>


</div>
</body>
</html>