<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Country</title>
</head>
<body>

<div align="center">
    <h1>Country list</h1>

    <a th:href="@{/country/add}">Create country</a>

    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Continent</th>
        </tr>
        </thead>


        <tbody>


        <tr th:each="country : ${countriesInView}">
            <td th:text="${country.name}"></td>
            <td th:text="${country.continent.name}"></td>


            <td>
                <div class="actions">
                    <a th:href="@{/country/{id}/edit(id = ${country.id})}">Edit</a>
                    <a th:href="@{/country/{id}/delete(id = ${country.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>