<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Tour Offer Cart</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>
<div align="center">
    <h1>Edit Tour Offer Cart</h1>

    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form method="post" th:action="@{/cos-cumparaturi/{id}/edit(id=${tourOfferCart.id})}" th:object="${tourOfferCart}">



                        <div>
                            <label for="tourOfferCartEntries">TourOfferCartEntries</label>
                            <select th:field="*{tourOfferCartEntries}" id="tourOfferCartEntries">
                                <option th:each="tourOfferCartEntries : ${tourOfferCartEntries}"
                                        th:value="{tourOfferCartEntries.id}"
                                        th:text="{tourOfferCartEntries.price}">
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="totalPrice">Total price</label>
                            <input id="totalPrice" th:field="*{totalPrice}" type="text">
                        </div>
                        <div>
                            <label for="user">User</label>
                            <input id="user" th:field="*{user}" type="text">
                        </div>

                        <div>
                            <a th:href="@{/cos-cumparaturi}">
                                <button class="btn btn-secondary" id="cancel" name="cancel" type="submit">Cancel
                                </button>
                            </a>
                            <button class="btn btn-primary" id="save" name="save" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-css :: footer-css"/>
</body>
</html>