<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create new Tour Offer Cart</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css}"/>
    <link th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js} "/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js} "/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js} "/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js} "/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>

</head>
<body>
<div align="center">
    <h1>Create new Tour Offer Cart</h1>

    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form method="post" th:action="@{/tourOfferCart/add}" th:object="${tourOfferCart}">

                        <div>
                            <label for="name">Name</label>
                            <input id="name" th:field="*{name}" type="text">
                            <span th:if="${#fields.hasErrors('name')}" th:error="*{name}" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="tourOfferCartEntries">TourOfferCartEntries</label>
                            <select th:field="*{tourOfferCartEntries}" id="tourOfferCartEntries">
                                <option th:each="tourOfferCartEntries : ${tourOfferCartEntries}"
                                        th:value="{tourOfferCartEntries.id}"
                                        th:text="{tourOfferCartEntries.price">
                                </option>
                            </select>
                        </div>

                        <div>
                            <label for="totalPrice">Total price</label>
                            <input id="totalPrice" th:field="*{totalPrice}" type="text">
                        </div>
                        <div>
                            <label for="user">User</label>
                            <input id="user" th:field="*{user}" type="text">
                        </div>

                        <div>
                            <a th:href="@{/tourOfferCart}">
                                <button class="btn btn-secondary" id="cancel" name="cancel" type="button">
                                            Cancel
                                </button>
                            </a>
                                    <button class="btn btn-primary" id="save" name="save" type="submit">Save</button>
                                    <button class="btn btn-third" type="submit">Submit form</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>